@import 'setup';
@import 'portfolio';

// Variables 
$primary-color:#696773;
$secondary-color: #B9C0DA;
$brand-color:#FCA336;
$accent-light:#F0A202;
$accent-dark:#F18805;
$accent-cream:#F3FFC6;


$base-font: 'Crimson Text', serif;
$secondary-font:'Montserrat', sans-serif;


// GENERAL STYLES
// *{
//     border: 2px solid palegreen;
// }

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin:0 auto;
}

ul{
    list-style: none;
    padding: 0;
}

h1,
h2,
h3,
ul{
    margin:0;
}

// TYPOGRAPHY

body{
    font-size: 1.8rem;
    line-height: 1.6;
    color:$primary-color;
    background-color: #FFF6EB;
}

h1{
    font-family: $secondary-font;
    font-weight: 900;
    color: #FCA336;
}


h2{
    font-family: $base-font;
    font-weight: 900;
    font-size: 3rem;
}

h3{
    font-family: $secondary-font;
    font-size: 2rem;
}

// HEADER STYLES

header{
    padding: 2em;
    height: 100vh;
    text-align: center;

    i{
        font-size: 2rem;
        color: $primary-color;
    }

    nav{
        display: flex;
        justify-content: flex-end;
        i{
            font-size: 3rem;
        }
    }
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.img-and-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

// MAIN STYLES


section{
    padding: 3em 0;
    text-align: center;
}


// ABOUT ME STYLES


.img-and-bio{
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    text-align: left;

    button{
        border: none;
        padding: 1em 2em;
        background-color: $brand-color;
        color: $primary-color;
        font-weight: 900;
        font-family: $secondary-font;
        &:hover,
        &:focus{
            background-color: $secondary-color;
        }
    }
}


// TOOLKIT STYLES


.skill-icons{
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em 0;
    
    i{
        font-size: 4rem;
    }
}


// Contact Styles

.contact-me{
    background-color:$brand-color;
}

.social-media-icons{
    display: flex;
    justify-content: center;
    li{
        padding: 1em;
    }
}

form{
    display: grid;
    gap: 1em;
    input,
    textarea,
    button{
        padding: 5px;
        border:none;
        color: $primary-color;
        background-color: #FFF6EB;

    }
}

.styling-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1em;
}


// FOOTER STYLES

footer{
    text-align: center;
    background-color: #B9C0DA;
}








