@import 'setup';
@import 'mixins';
@import 'animation';
@import 'sucessMessage';
@import 'variables';

// *{
//     border: 2px solid red;
// }

.wrapper {
    max-width: 1050px;
    width: 80%;
    margin:0 auto;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

h1,
h3,
ul{
    margin:0;
}

// TYPOGRAPHY

body{
    font-size: 1.8rem;
    font-family: $base-font;
    font-weight: 400;
    line-height: 1.7;
    color:$primary-color;
    background-color: $off-white;
}

h1{
    font-family: $base-font;
    font-size: 5rem;
    font-weight: 900;
    color:$brand-color;
}


h2{
    font-family: $base-font;
    font-weight: 400;
    font-size: 3.5rem;
    margin-bottom: 1em;
}

h3{
    font-family: $base-font;
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    color: $accent-cream;
}

button{
    transition: all 0.2s;
}

// HEADER STYLES

header{
    padding: 2em;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
}



nav{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
}

.nav-toggle{
    top: 24px;
    z-index: 2;
    right: 30px;
    width: 22px;
    height:20px;
    padding: 8px 0;
    border-radius: 50%;
    position: absolute;
    &:hover::before,
    &:focus::before,
    &:active::before{
        top: 8px;
        left: -3px;
        transform:rotate(45deg)
              
        }    
    &:hover::after,
    &:focus::after,
    &:active::after{
        left: 9px;
        bottom: 8px;
        transform: rotate(-45deg)
        }    
    &:focus span,
    &:hover span,
    &active span{
            opacity: 0;
        }
    }    

.nav-toggle span{
    height: 4px;
    display: block;
    overflow: hidden;
    background-color: $primary-color;
    border-radius: 2px;
    cursor: pointer;
}

.nav-toggle::before,
.nav-toggle::after{
    left: 0;
    content: "";
    width: 22px;
    height:4px;
    background-color: $primary-color;
    border-radius: 2px;
    position: absolute;
    transition: width 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.nav-toggle::before{
    top: 0;
}

.nav-toggle::after{
    bottom: 0;
}

.navigation-modal{
    visibility: hidden;
    background-color: $brand-color;
    position:absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
        i{
            position: absolute;
            top: 0;
            right: 0;
            padding: 3rem;
            cursor: pointer;
            &:hover,
            &:focus{
                color:$accent-cream;
            }
        }
        a{
            cursor: pointer;
            &:hover,
            &:focus{
                color: $accent-cream;
        }
    }
}

// MAIN STYLES


section{
    padding: 3em 0;
    text-align: center;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.box{
    position: relative;
    transition: opacity 3s;
}

.box:hover .project-details{
    opacity: 1;
}

.project-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 103, 115, 0.9) ;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    p{
        color: $accent-cream;
    }

    p:first-of-type{
        font-weight: 400;
        font-size: 1.4rem;
        max-width: 30ch;
        margin: 0;
    }

    p:last-of-type{
        font-weight: 200;
        font-size: 2rem;
        margin: 0;
    }

    
    button{
        border: none;
        margin: 0.5em;
        background-color: $secondary-color;
        color: $primary-color;
        font-weight: 900;
        font-family: $base-font;
        text-transform: lowercase;

        a{
            
            padding: 0.5em 1em;
        }
        &:hover,
        &:focus{
            background-color: $accent-cream;

        }
    }
}





.box1{
    background-color: $brand-color;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box2{
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3{
    background-color: $accent-cream;
}

// ABOUT ME STYLES


.img-and-bio{
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    text-align: left;
    // background-color: $secondary-color;
    h3,
    p{
       max-width: 50ch; 
    }
    p{
        font-size: 1.4rem;
    }

    button{
        border: none;
        padding: 1em 2em;
        background-color: $brand-color;
        color: $primary-color;
        font-weight: 900;
        font-family: $base-font;
        &:hover,
        &:focus{
            background-color: $accent-cream;
        }
       
    }
}


// TOOLKIT STYLES


.skill-icons{
    padding: 2em 2em 0 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em 0;
    p{
        margin-top: 0;
    }
    
    i{
        font-size: 4rem;
    }
}


// Contact Styles

.contact-me{
    background-color:$brand-color;
}

.social-media-icons{
    display: flex;
    justify-content: center;
    a{
        padding: 0 1em;
        font-size: 2rem;
        margin-bottom: 20px;
        &:hover,
        &:focus{
            color: $accent-cream;
        }

    }
}
.contact-me h2{
    margin: 0;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

    input,
    textarea{
        padding: .3em;
        font-family: $base-font;
        font-style: italic;
        font-weight: 400;
        background-color: $off-white;
        color: $primary-color;
        &:focus{
            border: 2px solid $secondary-color;
        }
    }

    textarea{
        grid-column: span 3;
    }

    button{
        grid-column-start: 3;
        border: none;
        padding: 1em 2em;
        background-color: $secondary-color;
        color: $primary-color;
        font-weight: 900;
        font-family: $base-font;
        cursor: pointer;
        a{
            padding: 1em 1em;

        }
        &:hover,
        &:focus{
            background-color: $accent-cream;
        }
    }
}




// FOOTER STYLES

footer{
    text-align: center;
    background-color: #B9C0DA;
}




@include tablet{
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
    .box{
        height:400px
    }
    
    .box3 img{
        height: 400px;
    }

        
   
    .project-details{
        font-size: 1.6rem;
        p:last-of-type{
            font-size: 2rem;
        }
    }

    .skill-icons{
        grid-template-columns: 1fr 1fr 1fr;
    }

    form{
        grid-template-columns: 1fr 1fr;
    }
    form button{
        grid-column-start: 2;
    }

    form textarea{
        grid-column: span 2;
    }


}

@include landscape{
    .gallery{
        grid-template-columns: 1fr;
    }

    .img-and-bio{
        grid-template-columns: 1fr;
    }
    form{
        grid-template-columns: 1fr;
    }
    form button{
        grid-column-start: 1;
    }

    form textarea{
        grid-column: span 1;
    }

}



@include phone{
    h1{
        font-size: 4rem;
    }
    .about-me .skill-icons{
        grid-template-columns: 1fr 1fr;
    }
    .wrapper{
        width: 95%;
    }

    
}










