html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
}

@-webkit-keyframes chevron {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes chevron {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.animated-chevron {
  position: absolute;
  bottom: 0;
  -webkit-animation: chevron 0.7s linear infinite;
          animation: chevron 0.7s linear infinite;
}

.success-message {
  background-color: #b9c0da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success-message h2 {
  color: #f3ffc6;
}

.success-message button {
  border: none;
  background-color: #f0a202;
  color: #f3ffc6;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

.success-message button:hover {
  background-color: #696773;
}

.success-message button a {
  padding: 1em 2em;
}

.wrapper {
  max-width: 1050px;
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

h1,
h3,
ul {
  margin: 0;
}

body {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #696773;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  font-weight: 900;
  color: #f0a202;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  margin-bottom: 1em;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 2rem;
  color: #f0a202;
}

button {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header {
  padding: 2em;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
}

.nav-toggle {
  top: 24px;
  z-index: 2;
  right: 30px;
  width: 22px;
  height: 20px;
  padding: 8px 0;
  border-radius: 50%;
  position: absolute;
}

.nav-toggle:hover::before, .nav-toggle:focus::before, .nav-toggle:active::before {
  top: 8px;
  left: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-toggle:hover::after, .nav-toggle:focus::after, .nav-toggle:active::after {
  left: 9px;
  bottom: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-toggle:focus span,
.nav-toggle:hover span,
.nav-toggleactive span {
  opacity: 0;
}

.nav-toggle span {
  height: 4px;
  display: block;
  overflow: hidden;
  background-color: #696773;
  border-radius: 2px;
  cursor: pointer;
}

.nav-toggle::before,
.nav-toggle::after {
  left: 0;
  content: "";
  width: 22px;
  height: 4px;
  background-color: #696773;
  border-radius: 2px;
  position: absolute;
  transition: width 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.nav-toggle::before {
  top: 0;
}

.nav-toggle::after {
  bottom: 0;
}

.navigation-modal {
  visibility: hidden;
  background-color: #f0a202;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
}

.navigation-modal i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3rem;
  cursor: pointer;
}

.navigation-modal i:hover, .navigation-modal i:focus {
  color: #f3ffc6;
}

.navigation-modal a {
  cursor: pointer;
}

.navigation-modal a:hover, .navigation-modal a:focus {
  color: #f3ffc6;
}

section {
  padding: 3em 0;
  text-align: center;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.box {
  position: relative;
}

.box:hover .project-details {
  opacity: 1;
}

.project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 103, 115, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.project-details p {
  color: #f3ffc6;
}

.project-details p:first-of-type {
  font-weight: 400;
  font-size: 1.4rem;
  max-width: 30ch;
  margin: 0;
}

.project-details p:last-of-type {
  font-weight: 200;
  font-size: 2rem;
  margin: 0;
}

.project-details button {
  border: none;
  margin: 0.5em;
  background-color: #b9c0da;
  color: #696773;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
}

.project-details button a {
  padding: 0.5em 1em;
}

.project-details button:hover, .project-details button:focus {
  background-color: #f3ffc6;
}

.box1 {
  background-color: #f0a202;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box2 {
  background-color: #b9c0da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box3 {
  background-color: #f3ffc6;
}

.img-and-bio {
  padding: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 3rem;
  text-align: left;
}

.img-and-bio h3,
.img-and-bio p {
  max-width: 50ch;
}

.img-and-bio p {
  font-size: 1.4rem;
}

.img-and-bio button {
  border: none;
  padding: 1em 2em;
  background-color: #f0a202;
  color: #696773;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

.img-and-bio button:hover, .img-and-bio button:focus {
  background-color: #b9c0da;
}

.skill-icons {
  padding: 2em 2em 0 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em 0;
}

.skill-icons p {
  margin-top: 0;
}

.skill-icons i {
  font-size: 4rem;
}

.contact-me {
  background-color: #f0a202;
}

.social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media-icons a {
  padding: 0 1em;
  font-size: 2rem;
  margin-bottom: 20px;
}

.social-media-icons a:hover, .social-media-icons a:focus {
  color: #f3ffc6;
}

.contact-me h2 {
  margin: 0;
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

form input,
form textarea {
  padding: .3em;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 400;
  color: #696773;
}

form input:focus,
form textarea:focus {
  border: 2px solid #b9c0da;
}

form textarea {
  grid-column: span 3;
}

form button {
  -ms-grid-column: 3;
      grid-column-start: 3;
  border: none;
  padding: 1em 2em;
  background-color: #b9c0da;
  color: #696773;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

form button a {
  padding: 1em 1em;
}

form button:hover, form button:focus {
  background-color: #f3ffc6;
}

footer {
  text-align: center;
  background-color: #b9c0da;
}

@media (max-width: 973px) {
  .gallery {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .box {
    height: 400px;
  }
  .box3 img {
    height: 400px;
  }
  .project-details {
    font-size: 1.6rem;
  }
  .project-details p:last-of-type {
    font-size: 2rem;
  }
  .skill-icons {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  form {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  form button {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  form textarea {
    grid-column: span 2;
  }
}

@media (max-width: 785px) {
  .gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .img-and-bio {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  form button {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  form textarea {
    grid-column: span 1;
  }
}

@media (max-width: 475px) {
  h1 {
    font-size: 4rem;
  }
  .skill-icons {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .wrapper {
    width: 95%;
  }
  .img-and-bio button {
    width: 100%;
  }
}
